.app__design {
    color: white;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__boxes {
        background-color: $color-grey-black;
        width: 23rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        i {
            margin-bottom: 2rem;
            text-align: start;
            svg{
            font-size: 58.8497px;
            }
        }

        h3 {
            font-family: $font-family;
            text-align: end;
            font-weight: 500;
            font-size: 58.8497px;
            line-height: 116%;
            /* or 68px */

            letter-spacing: -0.02em;
            text-transform: capitalize
        }
        &:nth-of-type(1) {
            background-color: $color-blue;
        }
        &:nth-of-type(2) {
            margin: 0 5%;
        }
    }
}


@media screen and (max-width:1050px) {
    .app__design{
    &__boxes {
        h3{
            font-size: 40px;
        }
    }
}
}
@media screen and (max-width:900px) {
    .app__design{
        padding: 2rem;
}
}
@media screen and (max-width:769px) {
    .app__design{
        flex-direction: column;
        &__boxes{
            margin-bottom: 3rem;
            &:nth-of-type(2){
                margin: 0;
                margin-bottom: 3rem;
            }
        }
}
}
@media screen and (max-width:600px) {
    .app__design{
        padding: 2rem 1rem;
        &__boxes{
            width: 100%;
        }
    }
}