.app__statics{
    width: 100%;
    margin: 3rem 0;
    &__container{
        margin-left: auto;
        padding: 1rem 0;
        width: 50%;
        background-color: $color-blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 3rem;
        &__items{
            display: flex;
            flex-direction: column;
            margin-left: 5rem;
            color: $color-white;
            text-align: center;
            h3
            {
                font-weight: 900;
                font-size: 70px;
                font-family: $font-family;
            }
            p{
                margin: auto;
                font-family: $font-family; 
                font-size: 22px;
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:900px) {
    .app__statics{
        &__container{
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 1rem 0%;
            justify-content: space-around;
            &__items{
                margin-left: 0%;
                text-align: center;
                h3{font-size: 55px; font-weight: 900 !important;}
                p{width: 95%; font-family: $font-family; font-size: 18px;}
            }
        }
    }
}

