@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-black : #050407;
$color-grey-black: #252525;
$color-blue : #1D51FD;
$color-green: #2CFE80;
$color-white : #FFFFFF;

// $font-family: 'Inter';
$font-family:  sans-serif;
