*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import './modules/_variables';
@import './modules/_hero';
@import './modules/_statics';
@import './modules/_design';
@import './modules/_project';
@import './modules/_footer';






body {
    background-color: $color-black;
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-blue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-grey-black;
  }