*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import './modules/_variables';
@import './modules/_hero';
@import './modules/_statics';
@import './modules/_design';
@import './modules/_project';
@import './modules/_footer';






body {
    background-color: $color-black;
}