@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.app__Hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7rem 5rem;
}
.app__Hero__content {
  flex: 0 0 50%;
  font-family: sans-serif !important;
}
.app__Hero__content .testmonialPara {
  font-weight: 400;
  font-size: 51.252px;
  line-height: 85%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.app__Hero__content h1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 109.704px;
  line-height: 94.5%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.app__Hero__content h3 {
  font-family: sans-serif;
  color: #2CFE80;
  font-weight: 600;
  font-size: 51.252px;
  line-height: 85%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.app__Hero__content p {
  font-family: sans-serif;
  color: #696969;
  margin: 2rem 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 161.5%;
  /* or 40px */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.app__Hero__content__buttons {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}
.app__Hero__content__buttons button {
  border: none;
  outline: none;
  padding: 1rem 2.7rem;
  font-weight: 500;
  font-size: 37.9952px;
  color: #FFFFFF;
  transition: 0.3s all;
  cursor: pointer;
}
.app__Hero__content__buttons button:nth-of-type(1) {
  background-color: #1D51FD;
  margin-right: 2rem;
}
.app__Hero__content__buttons button:nth-of-type(2) {
  background-color: transparent;
}
.app__Hero__content__buttons button:nth-of-type(2) span {
  margin-left: 1rem;
  color: #696969;
}
.app__Hero__content__buttons button:nth-of-type(2):hover span {
  color: white;
}
.app__Hero__image {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.app__Hero__image .speical-Heading {
  position: absolute;
  top: -7%;
  left: 7%;
  z-index: 10;
}
.app__Hero__image .speical-Heading h1 {
  transform: rotate(-25deg);
  font-family: sans-serif;
  color: #050407;
  text-shadow: 0 0 5px white;
  font-weight: 600;
  opacity: 0.4;
  font-size: 71.252px;
  line-height: 85%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.app__Hero__image__label {
  position: absolute;
  background-color: #FFFFFF;
  color: #050407;
  bottom: 0%;
  right: 15%;
  width: 606.84px;
  font-weight: 600;
  font-size: 51.252px;
  line-height: 85%;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 1rem;
}
.app__Hero__image img {
  max-width: 606.84px;
  max-height: 510px;
}

@media screen and (max-width: 1500px) {
  .app__Hero {
    padding: 4rem 4rem;
  }
  .app__Hero__image__label {
    right: 26%;
    font-size: 40px;
    padding: 1.3rem 0.9rem;
    width: auto;
  }
  .app__Hero__image img {
    max-width: 550px;
  }
  .app__Hero__content .testmonialPara {
    font-size: 30px;
  }
  .app__Hero__content h1 {
    font-size: 75px;
  }
  .app__Hero__content h3 {
    font-size: 40px;
  }
  .app__Hero__content p {
    font-size: 20px;
  }
  .app__Hero__content__buttons button {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 1350px) {
  .app__Hero {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 1250px) {
  .app__Hero__image__label {
    right: 26%;
    font-size: 40px;
    padding: 1.3rem 0.9rem;
    width: auto;
  }
  .app__Hero__image img {
    max-width: 500px;
  }
  .app__Hero__content__buttons button:nth-of-type(1) {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .speical-Heading {
    display: none;
  }
  .app__Hero {
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
  }
  .app__Hero__content p {
    width: 70%;
  }
  .app__Hero__image {
    margin-top: 5rem;
    margin-left: 0%;
  }
  .app__Hero__image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .app__Hero__content p {
    width: 90%;
  }
  .app__Hero__image__label {
    right: 0%;
  }
}
@media screen and (max-width: 600px) {
  .speical-Heading {
    display: block;
  }
  .speical-Heading h1 {
    font-size: 60px !important;
  }
  .app__Hero {
    padding: 1rem;
  }
  .app__Hero__content .testmonialPara {
    font-size: 25px;
  }
  .app__Hero__content h1 {
    font-size: 50px;
  }
  .app__Hero__content h3 {
    font-size: 33px;
  }
  .app__Hero__content__buttons button {
    padding: 0.5rem 1rem;
  }
  .app__Hero__content__buttons button:nth-of-type(1) {
    margin-right: 1rem;
  }
  .app__Hero__image__label {
    right: 0%;
    width: 100%;
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .app__Hero__content__buttons {
    justify-content: space-around;
  }
  .app__Hero__content__buttons button {
    font-size: 20px !important;
  }
  .app__Hero__content__buttons button:nth-of-type(1) {
    margin: 0% !important;
  }
  .app__Hero__content__buttons button:nth-of-type(2) {
    margin: 0% !important;
  }
  .app__Hero__content__buttons button:nth-of-type(2) span {
    margin: 0% !important;
  }
}
.app__statics {
  width: 100%;
  margin: 3rem 0;
}
.app__statics__container {
  margin-left: auto;
  padding: 1rem 0;
  width: 50%;
  background-color: #1D51FD;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 3rem;
}
.app__statics__container__items {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  color: #FFFFFF;
  text-align: center;
}
.app__statics__container__items h3 {
  font-weight: 900;
  font-size: 70px;
  font-family: sans-serif;
}
.app__statics__container__items p {
  margin: auto;
  font-family: sans-serif;
  font-size: 22px;
  width: 90%;
}

@media screen and (max-width: 900px) {
  .app__statics__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0%;
    justify-content: space-around;
  }
  .app__statics__container__items {
    margin-left: 0%;
    text-align: center;
  }
  .app__statics__container__items h3 {
    font-size: 55px;
    font-weight: 900 !important;
  }
  .app__statics__container__items p {
    width: 95%;
    font-family: sans-serif;
    font-size: 18px;
  }
}
.app__design {
  color: white;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.app__design__boxes {
  background-color: #696969;
  width: 23rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.app__design__boxes i {
  margin-bottom: 2rem;
  text-align: start;
}
.app__design__boxes i svg {
  font-size: 58.8497px;
}
.app__design__boxes h3 {
  font-family: sans-serif;
  text-align: end;
  font-weight: 500;
  font-size: 58.8497px;
  line-height: 116%;
  /* or 68px */
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
.app__design__boxes:nth-of-type(1) {
  background-color: #1D51FD;
}
.app__design__boxes:nth-of-type(2) {
  margin: 0 5%;
}
.app__design__boxes:nth-of-type(3) {
  position: relative;
}

.triangle__container {
  position: absolute;
  top: -15%;
  right: -8%;
}
.triangle__container .triangle-up {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #2CFE80;
}

@media screen and (max-width: 1050px) {
  .app__design__boxes h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  .app__design {
    padding: 2rem;
  }
}
@media screen and (max-width: 769px) {
  .app__design {
    flex-direction: column;
  }
  .app__design__boxes {
    margin-bottom: 3rem;
  }
  .app__design__boxes:nth-of-type(2) {
    margin: 0;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .triangle__container {
    position: absolute;
    top: -15%;
    right: -2%;
  }
  .app__design {
    padding: 2rem 1rem;
  }
  .app__design__boxes {
    width: 100%;
  }
}
.app__projects {
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}
.app__projects__heading {
  display: flex;
  flex-direction: row;
}
.app__projects__heading h1 {
  flex: 1;
  color: black;
  font-weight: 800;
  font-size: 106.076px;
  line-height: 94.5%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px white;
  margin-right: 2rem;
}
.app__projects__heading div {
  flex: 2;
  background-color: #696969;
  align-self: center;
  height: 2px;
}

.app__projects__content {
  display: flex;
  color: aliceblue;
  flex-direction: row;
  align-items: center;
  margin: 7rem 0;
}
.app__projects__content__text {
  flex: 0 0 50%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app__projects__content__text h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 51.252px;
  line-height: 85%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.app__projects__content__text p {
  margin: 3rem 0 2rem 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 161.5%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #696969;
  width: 80%;
}
.app__projects__content__text button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 26.4868px;
  line-height: 85%;
  letter-spacing: -0.02em;
  padding: 1rem 0;
  cursor: pointer;
  color: #2CFE80;
  background-color: transparent;
  border: none;
  outline: none;
}
.app__projects__content__image {
  flex: 1;
  width: 100%;
}
.app__projects__content__image div {
  background-color: #696969;
  max-width: 799px;
  height: 550px;
}

@media screen and (max-width: 1100px) {
  .app__projects__content {
    margin: 3rem 0;
    flex-direction: column !important;
  }
  .app__projects__content__text {
    padding-left: 0% !important;
  }
  .app__projects__content__image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app__projects__content__image div {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .app__projects__content__image div {
    max-width: 100%;
    width: 100%;
    height: 400px;
  }
  .app__projects {
    padding: 5rem 2rem;
  }
  .app__projects__heading h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .app__projects {
    padding: 3rem 1rem;
  }
  .app__projects__content__image div {
    max-width: 100%;
    width: 100%;
    height: 300px;
  }
}
.app__footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.app__footer__getInTouch {
  background-color: #1D51FD;
  padding: 8rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__footer__getInTouch .app__footer__text {
  margin: auto;
  width: 80% !important;
}
.app__footer__getInTouch .app__footer__text h1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 106.076px;
  line-height: 90.5%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 1rem 0;
}
.app__footer__getInTouch .app__footer__text h2 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 106.076px;
  line-height: 90.5%;
  letter-spacing: -0.02em;
  color: #1D51FD;
  text-shadow: 0 0 3px white;
  margin: 1rem 0 3rem 0;
}
.app__footer__getInTouch .app__footer__text button {
  background-color: #FFFFFF;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  font-weight: 900;
  font-size: 30px;
}
.app__footer__copyRight {
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-around;
}
.app__footer__copyRight div p {
  margin-top: 1rem;
  font-size: 30px;
  font-family: sans-serif;
}
.app__footer__copyRight div p a {
  color: #2CFE80;
}
.app__footer__copyRight ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app__footer__copyRight ul li {
  list-style: none;
  margin-right: 2rem;
}
.app__footer__copyRight ul li svg {
  font-size: 40px;
  cursor: pointer;
}

.triangle-side__container {
  position: absolute;
  left: 3%;
  top: -15%;
  transform: rotate(25deg);
}
.triangle-side__container .triangle-up {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #2CFE80;
}

@media screen and (max-width: 1400px) {
  .app__footer__getInTouch .app__footer__text h1 {
    font-size: 60px;
  }
  .app__footer__getInTouch .app__footer__text h2 {
    font-size: 60px;
  }
  .app__footer__getInTouch .app__footer__text button {
    font-size: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .app__footer__getInTouch {
    padding: 8rem 0% !important;
  }
  .app__footer__getInTouch .app__footer__text {
    width: 100% !important;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 900px) {
  .app__footer__getInTouch .app__footer__text h1 {
    font-size: 50px;
  }
  .app__footer__getInTouch .app__footer__text h2 {
    font-size: 40px;
  }
  .app__footer__getInTouch .app__footer__text button {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .triangle-side__container {
    display: none;
    padding: 3rem 0;
  }
  .app__footer__getInTouch {
    padding: 3rem 0 !important;
  }
  .app__footer__getInTouch .app__footer__text {
    padding: 0 1rem;
  }
  .app__footer__getInTouch .app__footer__text h1 {
    font-size: 40px;
  }
  .app__footer__getInTouch .app__footer__text h2 {
    font-size: 30px;
  }
  .app__footer__getInTouch .app__footer__text button {
    font-size: 20px;
  }
  .app__footer__copyRight {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .app__footer__copyRight ul {
    margin-top: 2rem;
  }
}
body {
  background-color: #050407;
}/*# sourceMappingURL=style.css.map */